body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
}


nav {
    display: flex;
    flex-direction: row;
}
nav a {
    text-decoration: none;
}

nav a:hover, nav a:focus {
    text-decoration: underline;
}

nav a:visited {
    text-decoration: underline;
    font-weight: bold;
}

nav a {
    display: flex;
    flex-direction: row;
    color: black;
}

.current {
    color: black;
    font-style: italic;
    text-decoration: underline;
    /* background-color: lightgrey;
    font-weight: bold; */
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    margin-right: 10px;
}

header {
    display: flex;
    flex-direction: row;
    /* background-color: #309FD3; */
    background-color: #8FCEEB;
    /* background-color: #83B2B2; */
    justify-content: space-around;
    padding: 15px;
}

h1 {
    text-align: center;
    font-size: xx-large;
    color: black
}

h2 {
    text-align: center;
    font-size: x-large;
    color: black;
}

footer {
    /* background-color: #309FD3; */
    background-color: #8FCEEB;
    /* background-color: #83B2B2; */
    color: black;
    padding: 15px;
    text-align: center;
}

#content-wrap {
    padding-bottom: 3.5rem;
}
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
  }

table, th, td {
    margin: 15px;
    padding: 8px;
}

th, td {
    border: 1px solid;
    margin: 15px;
    padding: 8px;
}

.general td:nth-child(odd) {
    background-color: #f4cccc;
}

.work td:nth-child(odd) {
    background-color: #d9ead3;
}

.iapa_impact td:nth-child(odd) {
    background-color: #c9daf8;
}

td:nth-child(even) {
    background-color: #efefef;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; Adjust as needed */
}

.table-container table {
    width: 800px;
}

#documentation {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    background-color: #8FCEEB;
    color: black;
    padding: 15px;
    text-align: center;
}

 a  {
    font-size: large;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#about {
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
    font-size: large;
}

#poster {
    display: block;
    margin: 0 auto; /* This will center the image horizontally */
    max-width: 100%; /* Ensure the image does not exceed the width of its container */
    height: auto; /* Maintain the aspect ratio of the image */
    padding: 20px;
}

#glossary {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
}

#thanks {
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
}

#page-container-about {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content-wrap-about {
    flex: 1;
}

#about-footer {
    background-color: #8FCEEB;
    color: black;
    padding: 15px;
    text-align: center;
}

#glossary-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#glossary-content-wrap {
    flex: 1;
}

#glossary-footer {
    background-color: #8FCEEB;
    color: black;
    padding: 15px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .table-container table {
        width: 300px;
    }
    #poster {
        display: block;
        margin: 0 auto;
        max-width: 80%; /* Adjust the width as needed for smaller screens */
        height: auto;
        padding: 20px;
    }


}